.address-table {
  margin-bottom: 10px;
  border-top: 0px solid #ddd;
  background: #fafafa;
  padding: 15px;

  input {
    display: inline-block;
  }
}
.add-newaddress {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

.btn-addAddress {
  display: inline-block;
}
