.header {
	text-align: center;
	padding: 30px 0;
	text-transform: uppercase;
	border-bottom: 1px dotted #ccc;
	padding: 60px;
}

.wrapper {
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}

.info {
	padding-right: 60px;

	.item-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 6px 0;
	}
}

.sidebar-content {
	width: 100%;
	color: #717171;
	padding-right: 10rem;
}

.prd-info {
	padding-bottom: 1.4rem;
	margin: 1.4rem 0;
	border-bottom: 1px dotted #e1e1e1;
}

.prd-img-wrapper {
	position: relative;
	.prd-img {
		border: 1px solid #ccc;
		border-radius: 4px;
		img {
			border-radius: 8px;
			width: 100%;
		}
	}
}

.prd-quantity {
	position: absolute;
	top: -8px;
	right: 4px;
	font-size: 1.2rem;
	font-weight: 500;
	white-space: nowrap;
	padding: 2px 8px;
	border-radius: 2em;
	background-color: rgba(153, 153, 153, 0.9);
	color: #fff;
	z-index: 2;
}

.prd-desc {
	display: flex !important;
	flex-direction: column;
	justify-content: center;

	&-size {
		color: #969696;
		font-size: 1.2rem;
	}

	&-color {
		border-radius: 50%;
		padding: 8px;
		width: 10px;
		border: 1px solid #888888;
	}
}

.prd-price {
	display: flex !important;
	align-items: center;
	color: #4b4b4b;
}

.prd-total {
	padding: 1.4rem 0;
	display: flex;
	justify-content: space-between;
	& > span {
		font-size: 18px;
	}
}

.cancel_order {
	display: flex;
	justify-content: end;

	.btn {
		padding: 4px 8px;
		background-color: #dc3545;
		color: #fff;
		border: none;
		border-radius: 8px;

		&:hover {
			opacity: 0.9;
		}
	}

	.btn-cancel {
		display: flex;
		align-items: center;
		gap: 16px;
		&-accept {
			padding: 10px 8px;
			border-radius: 8px;
			background-color: var(--primary);
			color: #fff;
			&:hover {
				opacity: 0.9;
			}
		}
	}

	.reason_cancel label {
		display: flex;
		align-items: center;
		gap: 4px;
	}
}

.no-item-order {
	margin: 20px 0px;
	&-title {
		font-size: 20px;
	}

	&-continue {
		padding: 14px 0;
	}
}

.button-right {
  font-size: 24px;
    display: flex;
    height: 40px;
    margin-top: 10px;
}

// responsive
@media (min-width: 740px) and (max-width: 1023px) {
	.info,
	.sidebar-content {
		padding: 12px;
	}
}

@media (max-width: 740px) {
	.sidebar-content {
		padding: 0;
	}
	.info {
		textarea {
			width: 100%;
		}
	}
}
