.prd_img {
  position: relative;
  width: 100%;
  height: 300px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    .img_show {
      visibility: hidden;
      opacity: 0;
    }

    .img_hidden {
      visibility: visible;
      opacity: 1;
    }
  }
}

.img_show {
  visibility: visible;
  opacity: 1;
}

.sold-out {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  > span {
    width: 100%;
    padding: 16px 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    text-align: center;
    font-size: 24px;
  }
}

.img_hidden {
  visibility: hidden;
  opacity: 0;
}

.prd_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  .prd_name {
    font-size: 1.4rem;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }

  .prd_price {
    font-size: 1.4rem;
    line-height: 16px;
    color: var(--black);
  }
}
