.wrapper {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 60%;
}

@media (max-width: 740px) {
  .wrapper {
    margin: 0;
  }
  .container {
    padding: 10px 0;
  }
}
