.notify-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .notify-item,
  .notify-item-active {
    padding: 8px;
    padding-left: 12px;
    border-bottom: 1px solid #e0e0e0;
    min-height: 72px;
  }

  .notify-item-active {
    &:hover {
      cursor: pointer;
      background-color: #f6f3f3;
    }
  }

  .text-pop,
  .text-pop-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: gray;
  }

  .text-pop-active {
    color: #111;
    font-weight: 600;
  }

  .content {
    font-size: 14px;
    padding-top: 4px;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.notify-box {
  border: none !important;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .MuiListItemText-primary {
    font-size: 12px !important;
  }
}
