.magazine {
  &-content-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-content-item {
    display: flex;
    gap: 30px;
  }

  .magazine-img {
    width: 300px;

    img{
      width: 100%;
    }
  }

  .magazine-title {
    color: #111;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  }

  .magazine-sub {
    display: flex;
    flex-direction:  column;
    align-items: flex-start;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
    
  }
}
